@import "../../Styles/mixins";

.FlashcardWrapper {
  & * {
    box-sizing: border-box;
  }
  bottom: 10%;
  clear: left;
  perspective: 1000px;
  @include box(560px, 340px);
  transform: none !important;

  &__item {
    top: 0;
    left: 0;
    @include box();
    position: absolute;
    transform-style: preserve-3d;
    background-color: transparent;
    transition: transform 0.45s ease;

    &--front,
    &--back {
      top: 0;
      left: 0;
      color: black;
      @include box();
      cursor: pointer;
      position: absolute;
      border-radius: inherit;
      @include make-flex();
      backface-visibility: hidden;
      box-shadow: 0 0 2.5rem 0 rgba(0, 0, 0, 0.16);
    }

    &--front {
      background-color: #ffffff;
    }

    &--back {
      background-color: #ffffff;
      transform: rotateX(-180deg);
    }

    &--flip {
      transform: rotateX(180deg) !important;
    }

    &--content {
      @include box();
      border-radius: inherit;
    }
  }
}
