html,
body,
#root {
  padding: 0 !important;
  margin: 0 !important;
  box-sizing: border-box !important;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.storyContainer {
  height: 100%;
  width: 100%;
}

/* * {
  outline: 1px solid #f00 !important;
} */