@import "../Styles/mixins";

// reset all styles
* {
  padding: 0;
  margin: 0 !important;
}

html,
body,
#root {
  padding: 0 !important;
  margin: 0 !important;
  box-sizing: border-box !important;
  @include box(100vw, 100vh);
  @include make-flex();
}

.storyContainer {
  @include box();
  @include make-flex();
  gap: 1rem;

  &--buttons {
    @include box(100px, 30px);
    @include make-flex();
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: #000;
      color: #fff;
    }
  }

  &__row {
    @include box(560px, auto);
    @include make-flex($dir: row);
    gap: 15px;

    button {
      flex-grow: 1;
    }
  }
}
