@import "../../Styles/mixins";

.FlashcardArrayWrapper {
  & * {
    box-sizing: border-box;
  }

  gap: 10px;
  @include make-flex();
  @include box(560px, auto);

  @include respondAt(625px) {
    width: 90%;
  }

  &__CardHolder {
    perspective: 1000px;
    @include box(100%, 340px);
    @include make-flex($dir: row);
    .FlashcardWrapper {
      &:nth-child(1),
      &:nth-child(3) {
        opacity: 0;
        box-shadow: none;
        pointer-events: none;
        visibility: hidden;
        background: transparent;
        display: block !important;
        transform-style: preserve-3d;
        transition: transform 0.24s ease, opacity 0.12s linear !important;
      }

      &:nth-child(1) {
        z-index: 5;
        right: unset;
        width: 0px !important;
        transform: translateX(-16%) rotateY(16deg) translateZ(0) !important;

        .FlashcardWrapper__item--content {
          display: none;
        }
      }

      &:nth-child(3) {
        z-index: 5;
        width: 0px !important;
        left: unset;
        transform: translateX(16%) rotateY(-16deg) translateZ(0) !important;

        .FlashcardWrapper__item--content {
          display: none;
        }
      }
      &:nth-child(2) {
        z-index: 6;
        box-shadow: none;
        background: transparent;
        display: block !important;
        transform-style: preserve-3d;
        transition: transform 0.24s ease, opacity 0.12s linear !important;
      }
    }
  }

  &__controls {
    gap: 35px;
    @include box(100%, 40px);
    @include make-flex($dir: row);

    button {
      padding: 0;
      border: none;
      font-size: 40px;
      @include box(auto);
      @include make-flex();
      background-color: transparent;
      transition: all 0.12s cubic-bezier(0.47, 0, 0.745, 0.715);

      svg {
        height: 80%;
        cursor: pointer;
      }
    }

    &--count {
      font-size: 15px !important;
    }
  }
}
