.FlashcardArrayWrapper * {
  box-sizing: border-box;
}

.FlashcardArrayWrapper {
  gap: 10px;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 560px;
}
.FlashcardArrayWrapper__CardHolder {
  height: 340px;
  width: 100%;
  perspective: 1000px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.FlashcardArrayWrapper__CardHolder .FlashcardWrapper:nth-child(1),
.FlashcardArrayWrapper__CardHolder .FlashcardWrapper:nth-child(3) {
  background: transparent;
  box-shadow: none;
  transform-style: preserve-3d;
  opacity: 0;
  pointer-events: none;
  display: block !important;
  transition: transform 0.24s ease, opacity 0.12s linear !important;
  transform: translateX(-16%) rotateY(16deg) translateZ(0) !important;
}
.FlashcardArrayWrapper__CardHolder .FlashcardWrapper:nth-child(3) {
  transform: translateX(16%) rotateY(-16deg) translateZ(0) !important;
  z-index: 5;
}
.FlashcardArrayWrapper__CardHolder .FlashcardWrapper:nth-child(2) {
  display: block !important;
  transition: transform 0.24s ease, opacity 0.12s linear !important;
  background: transparent;
  box-shadow: none;
  transform-style: preserve-3d;
  z-index: 6;
}
.FlashcardArrayWrapper__controls {
  width: 100%;
  height: 40px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 35px;
}
.FlashcardArrayWrapper__controls button {
  height: 100%;
  font-size: 40px;
  background-color: rgba(240, 248, 255, 0);
  border: none;
  padding: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  transition: all 0.12s cubic-bezier(0.47, 0, 0.745, 0.715);
}

.FlashcardArrayWrapper__controls button img {
  cursor: pointer;
  height: 80%;
  background-color: rgba(255, 255, 255, 0);
}

.FlashcardArrayWrapper__controls button img:hover {
  filter: invert(91%) sepia(20%) saturate(5066%) hue-rotate(340deg)
    brightness(107%) contrast(101%);
}

.FlashcardArrayWrapper__controls--count {
  font-size: 15px !important;
}
@media only screen and (max-width: 625px) {
  .FlashcardArrayWrapper {
    width: 90vw;
  }
}
