@forward "theme.scss";
@use "./mixins" as *;
@use "./CrispButton.scss" as *;
@use "./CrispInput.scss" as *;
@use "./CrispSelect.scss" as *;

.flashcard-wrapper:has(.responsive-flashcard) {
  max-width: 560px;
  width: 100%;
}

.flashcard-array-wrapper {
  &:not(.custom-arrow-style) {
    --prev-arrow-color: var(--foreground) !important;
    --next-arrow-color: var(--foreground) !important;
    --disabled-arrow-color: #a9a9a9 !important;
  }
  max-width: 560px;
  width: 100% !important;
}